In [37]:
# Solusi no 1

import sqlite3
import pandas as pd

"""
build_connection == fungsi membangun koneksi database,
path_to_db == alamat database, 
jika bernilai None, maka secara otomatis akan membuat file *.db
"""
def build_connection(path_to_db='/content/blockchain.db', debug=False):
    try:
        conn = sqlite3.connect(path_to_db)
        if debug is True:
            print('connection established')
        return conn
    except Error as e:
        if debug is True:
            print('connection error ', e)    

"""
build_table == fungsi membuat tabel di database
"""
def build_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()
    header_table = """CREATE TABLE IF NOT EXISTS transactions (
                        id integer,
                        insert_time timestamp,
                        tx_amount float,
                        tx_type string,
                        status string
                        );"""
    # Create table and its columns
    cursor.execute(header_table)

"""
insert_table() == fungsi mengisi table di database
"""
def insert_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()

    sql_insertion = '''INSERT INTO transactions(id, insert_time, tx_amount, tx_type, status) VALUES (?, ?, ?, ?, ?);'''
    datas = [
             (1, '2021-01-01 11:25:00', 10, 'buy', 'open'),
             (2, '2021-01-01 11:26:00', 20, 'sell', 'open'),
             (1, '2021-01-01 11:25:40', 10, 'buy', 'closed'),
             (3, '2021-01-01 11:30:00', 30, 'sell', 'closed'),
             (2, '2021-01-01 11:30:40', 20, 'sell', 'closed')
    ]

    for data in datas:
        cursor.execute(sql_insertion, data)
    conn.commit()
    conn.close()

def show_table(debug=False):
    conn = build_connection(debug=debug)
    
    insert_query = """SELECT * FROM transactions GROUP BY id HAVING MAX(insert_time)"""
    df = pd.read_sql_query(insert_query, conn)
    pd.set_option("display.max_rows", None, "display.max_columns", None)
    conn.close()
    print(df.to_string(index=False))

if __name__=='__main__':
    build_table()
    insert_table()
    show_table()

 id          insert_time  tx_amount tx_type  status
  1  2021-01-01 11:25:40       10.0     buy  closed
  2  2021-01-01 11:30:40       20.0    sell  closed
  3  2021-01-01 11:30:00       30.0    sell  closed

In [36]:
# Solusi no 2

import sqlite3
import pandas as pd

"""
build_connection == fungsi membangun koneksi database,
path_to_db == alamat database, 
jika bernilai None, maka secara otomatis akan membuat file *.db
"""
def build_connection(path_to_db='/content/sales_database.db', debug=False):
    try:
        conn = sqlite3.connect(path_to_db)
        if debug is True:
            print('connection established')
        return conn
    except Error as e:
        if debug is True:
            print('connection error ', e)    

"""
build_table == fungsi membuat tabel di database
"""
def build_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()
    header_table = """CREATE TABLE IF NOT EXISTS sales_database (
                        date timestamp,
                        sales integer
                        );"""
    # Create table and its columns
    cursor.execute(header_table)

"""
insert_table() == fungsi mengisi table di database
"""
def insert_table(debug=False):
    conn = build_connection(debug=debug)
    cursor = conn.cursor()

    sql_insertion = '''INSERT INTO sales_database(date, sales) VALUES (?, ?);'''
    datas = [
        ('2021-01-01', 100),
        ('2021-01-02', 34),
        ('2021-01-02', 123),
        ('2021-01-02', 134),
        ('2021-01-03', 145),
        ('2021-01-03', 24),
        ('2021-01-04', 541),
        ('2021-01-04', 636),
        ('2021-01-05', 322),
        ('2021-01-06', 242),
        ('2021-01-07', 22),
        ('2021-01-08', 46)
    ]

    for data in datas:
        cursor.execute(sql_insertion, data)
    conn.commit()
    conn.close()

def show_table(debug=False):
    conn = build_connection(debug=debug)
    
    insert_query = """SELECT date, SUM(sales) as "rolling sum" FROM sales_database GROUP BY date"""
    df = pd.read_sql_query(insert_query, conn)
    pd.set_option("display.max_rows", None, "display.max_columns", None)
    conn.close()
    print(df.to_string(index=False))

if __name__=='__main__':
    build_table()
    insert_table()
    show_table()

       date  rolling sum
 2021-01-01          100
 2021-01-02          291
 2021-01-03          169
 2021-01-04         1177
 2021-01-05          322
 2021-01-06          242
 2021-01-07           22
 2021-01-08           46

In [38]:
# data soal no 3
dataset_c = [
   {
       "user": {
           "id": 1,
           "name": "agus",
           "email": "agus@example.com"
       },
       "txs": [
           {
               "id": 1,
               "tx_date": "2020-01-01",
               "tx_amount": 10,
               "tx_type": "buy"
           },
           {
               "id": 3,
               "tx_date": "2020-02-01",
               "tx_amount": 10,
               "tx_type": "buy"
           },
           {
               "id": 5,
               "tx_date": "2020-03-01",
               "tx_amount": 20,
               "tx_type": "sell"
           }
       ]
   },
   {
       "user": {
           "id": 2,
           "name": "asep",
           "email": "asep@example.com"
       },
       "txs": [
           {
               "id": 2,
               "tx_date": "2020-01-01",
               "tx_amount": 10,
               "tx_type": "sell"
           },
           {
               "id": 4,
               "tx_date": "2020-02-01",
               "tx_amount": 10,
               "tx_type": "sell"
           },
           {
               "id": 6,
               "tx_date": "2020-03-01",
               "tx_amount": 20,
               "tx_type": "buy"
           }
       ]
   }
]

In [47]:
# Solusi no 3
import csv

def convert_to_csv(dataset, debug=False):
    csv_1 = []
    csv_2 = []
    csv_3 = []
    for data in dataset_c:
        user_id = data['user']['id']
        user_name = data['user']['name']
        user_email = data['user']['email']
        
        csv_2.append([user_id, user_name, user_email])
        for tx in data['txs']:
            tx_id = tx['id']
            tx_date = tx['tx_date']
            tx_amount = tx['tx_amount']
            tx_type = tx['tx_type']

            csv_1.append([user_id,tx_id])
            csv_3.append([tx_id, tx_date, tx_amount, tx_type])
    if debug is True:
        print('csv_1', csv_1)
        print('csv_2', csv_2)
        print('csv_3', csv_3)
    
    with open('csv_1.csv','w',newline='') as file:
        header = ['user_id', 'tx_id']
        writer = csv.DictWriter(file, fieldnames = header)

        writer.writeheader()
        for data in csv_1:
            writer.writerow({'user_id':data[0], 'tx_id':data[1]})
        file.close()

    with open('csv_2.csv','w', newline='') as file:
        header = ['Id', 'name', 'email']
        writer = csv.DictWriter(file, fieldnames = header)

        writer.writeheader()
        for data in csv_2:
            writer.writerow({'Id':data[0], 'name':data[1], 'email':data[2]})
        file.close()

    with open('csv_3.csv','w', newline='') as file:
        header = ['Id', 'tx_date', 'tx_amount', 'tx_type']
        writer = csv.DictWriter(file, fieldnames = header)

        writer.writeheader()
        for data in csv_3:
            writer.writerow({'Id':data[0], 'tx_date':data[1], 'tx_amount':data[2], 'tx_type':data[3]})
        file.close()

if __name__=='__main__':
    convert_to_csv(dataset_c)